{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static 'images/favicon.jpeg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/daisyui.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    {% block headerlinks %}

    {% endblock headerlinks %}



    <title>
        {% block title %}Chadaha{% endblock title %}
    </title>


    {% block headerstyle %}

    {% endblock headerstyle %}

</head>

<body>

    {% block header %}

    {% include "components/header.html" %}

    {% endblock header %}
    <div class="min-h-[calc(80vh)]">

        {% block body %}
        
        {% endblock body %}
    </div>


    {% block footer %}

    
    {% include "components/footer.html" %}

    {% endblock footer %}



    {% block footerscript %}
    <script>
        feather.replace()
    </script>

    {% endblock footerscript %}




</body>

</html>