{% extends 'base.html' %}
{% load static %} 

{% block body %}

<!-- our team section -->
<section id="our-team" class="mb-12">
    <div class="our-team">
        <h2 class="text-lg md:text-2xl text-center my-5">Our Team</h2>

        <div class="container mx-auto px-2 md:px-12">
             <!-- tabs -->

            <div id="tabs" class="tabs w-full mb-12">
                <div class="flex justify-center items-center gap-3 w-full flex-wrap">
                    {% for category in team_category %}
                <button id="tab-{{category.id}}" class="btn tab-btn btn-sm rounded-full border-gray border-2 bg-white text-black hover:text-white {% if forloop.first %}active{% endif%}">{{category.title}}</button>
                    {%endfor%}
                
                </div>
                

                
            </div>

            <!-- tabs -->
            <!-- our team members card -->
            {% for category in team_category %}
            <div id="tab-content-{{category.id}}" class="tabContent {% if forloop.first %}showContent{%endif%}">

           
            <div  class=" grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 justify-center gap-4">


               {% for member in category.ourteam_set.all %}
               <div class="card border rounded-sm shadow-md">
                    <a href="{% url 'our_team_single' member.id %}">
                        <div class="card-image border">
                            <img class="img-fuild w-full h-52 max-h-64  object-cover" src="{{member.get_image_url}}" alt="{{member.name}}" />
                        </div>
                        <div class="card-text p-2 text-center">
                            <h3 class="font-bold text-lg">{{member.name}}</h3>
                            <p class="font-medium">{{member.designation}}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
              
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
<!-- our team section -->

{% endblock body %}

{% block footerscript %}
<script>

    $(".tab-btn").click(function(){
        $(".tab-btn").removeClass("active");
        $(this).addClass("active");
        var tab_id = $(this).attr('id');
        $('.tabContent.showContent').fadeOut(300, function(){
            $(this).removeClass('showContent');
            $("#tab-content-" + tab_id.split("-")[1]).fadeIn(300).addClass('showContent');
        });
        
      

    })


</script>
{% endblock footerscript %}