{% extends 'base.html' %} 
{% load static %} 
{% load humanize_number %} 
{% load humanize %} 

{%block headerlinks %}
<link rel="stylesheet" href="{% static 'css/jquery.rprogessbar.min.css' %}">
{%endblock headerlinks %}
{% block body %}
<div class="container mx-auto px-2 md:px-28 my-12">
  <div class="grid grid-cols-5 gap-4">
    <div class="col-span-5 lg:col-span-4">
      <img src="{{donation.get_image_url}}" class="w-full max-h-[450px]" />
      <div class="donation details card p-4 border bg-white rounded-none">
        <p>{{donation.category}}</p>
        <h1 class="text-2xl font-medium mt-2">{{donation.title}}</h1>
        <div class="mt-5">
          <div class="flex justify-between">
            <div class="goals">
              <h3 class="text-sm">Goals</h3>
              <h5 class="font-bold text-blue-600">
                {{donation.target_amount|humanize_number}}
              </h5>
            </div>
            <div class="collected">
              <h3 class="text-sm">Collected</h3>
              <h5 class="font-bold text-green-600">
                {{donation.collected_amount|humanize_number}}
              </h5>
            </div>
            <div class="remaining">
              <h3 class="text-sm">Remaining</h3>
              <h5 class="font-bold text-yellow-500">
                {{donation.remaining_amount|humanize_number}}
              </h5>
            </div>
          </div>
          <br/>
          <div class="jqueryscript"></div>
          <div class="details p-2 mt-5">

            {{donation.description}}

          </div>
        
          <div class="donation_sending details p-2 mt-5">
            <h2 class="font-bold text-red-600 text-lg mb-4">Send your donation to the following details</h2>
            {{donation.donating_account_info}}

          </div>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-lg p-4 col-span-5 lg:col-span-1">
      <h2 class="text-lg font-medium mb-2">Related Donations</h2>
      <div class="grid grid-cols-1 gap-4">
        {% for item in donation.category.donationcampaign_set.all %}
        {% if item.id != donation.id %}
        <div class="related-donations">
         <a href="{% url 'single_donation' pk=item.id %}">
            <img
            src="{{item.get_image_url}}"
            class="w-full rounded-lg"
          />
          <h3 class="text-base font-medium bottom-0 left-0 m-2">
           {{item.title}}
          </h3>
         </a>
        </div>
        {%endif%}
        {%endfor%}
      </div>
    </div>
  </div>
</div>
{% endblock body %} 
{% block footerscript %}

<script src="{% static 'js/jQuery.rProgressbar.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.js' %}"></script>
<script>
    const goal = "{{donation.collected_percent}}";
  $(".jqueryscript").rProgressbar({
    percentage: parseInt(goal),
    fillBackgroundColor: "#1abc9c",
    ShowProgressCount:false,
    width: "100%",
  });
</script>

{% endblock footerscript %}
