{% load static %}
{% load active_link_tags %}
<div class="navbar bg-base-100 shadow-lg md:px-24">
    <div class="navbar-start">
        
     
        
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul tabindex="0" class="menu menu-horizontal p-0 z-50">
            <li><a href="{% url 'home' %}" class="{% active_link 'home' %}">Home</a></li>
            <li><a href="{% url 'about_us' %}" class="{% active_link 'about_us' %}">আমাদের সম্পর্কে</a></li>
            <li><a href="{% url 'our_team' %}" class="{% active_link 'our_team' %}">টিম</a></li>
            <li><a href="{% url 'home' %}">সীকিং ফর হেল্প</a></li>
            <li><a href="{% url 'home' %}">ছবিঘর</a></li>
         
        </ul>
    </div>
    <div class="navbar-end">
      
        <div class="dropdown dropdown-end">
           
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a href="{% if request.user.patient %} {%url 'patient_dashboard' %} {% elif request.user.doctor %}{%url 'doctor_dashboard' %}{% endif %}"
                        class="justify-between">
                        Dashboard

                    </a>
                </li>

                <li><a href="">Logout</a></li>
            </ul>

        </div>
    
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 right-0">
                <li><a href="">আমাদের সম্পর্কে</a></li>
              
          </div>
    </div>
</div>
